<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Exito</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

	<h2>Contribuyente registrado exitosamente!</h2>
	<button type="button" class="btn btn-secondary btn-sm"><a class="text-decoration-none text-white" href="/index">Regresar</a></button>
</body>
</html>